

@mixin section-container {
    color: #FEFEFE;
    margin-top: 200px;
    margin-left: 0px;

    width: 100%;
    //height: 500px ;

}
@mixin section-header {
    margin-bottom: 23px;
}

@mixin section-body {
    padding-top: 20px;
    padding-bottom: 20px;
}