<!--=========== Platforms section =============-->
<section class="row platforms-section">
    <!--== header ==-->
    <div class="col-12 platforms-header">
        <div class="row justify-content-center">
            <div class="col-3 align-self-center">
                <h3 class="word-header" >{{title}} <span class="blue-underscore">_</span></h3>
                
            </div>
            
        </div>
        <!--platforms description-->
        <div class="row justify-content-center">
            <div class="col-7 align-self-center">
                <p class="header-description" >{{description}}</p>

            </div>
        </div>
    </div>

    <div class="col-12 platforms-body">

        <div class="row justify-content-around platforms-main-images">

            <div class="col-2">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/angular-card.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/ASP.NET_CORE.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/Microsoft_.NET_logo.png" alt="">
                </div>
            </div>

        </div>

        <div class="row justify-content-center platforms-small-images">
            <div class="col-1">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/docker.png" alt="">
                </div>
            </div>

            <div class="col-1">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/wordpress.png" alt="">
                </div>
            </div>

            <div class="col-1">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/nodejs.png" alt="">
                </div>
            </div>

                        
        </div>

    </div>

</section>