.platforms-section {
  color: #F9F9F9;
  margin-left: 0px;
  width: 100%;
  background-color: #1B1C24;
  padding: 125px 0 0;
  padding-top: 0px;
}

.platforms-header {
  margin-bottom: 23px;
  margin-bottom: 0;
}

.platforms-body {
  background-color: #F9F9F9;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 100px;
  padding-bottom: 80px;
  transition: all 200ms ease-in-out;
}

@media screen and (max-width: 575.98px) {
  .platforms-body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.platforms-body .platforms-main-images {
  opacity: 0;
}

.platforms-body .platforms-main-images .platforms-main-image-container .platforms-main-image {
  width: 100%;
}

.platforms-body .platforms-small-images .platforms-small-image-container .platforms-small-image {
  width: 100%;
  margin-top: 30px;
}

.other-services-text {
  margin-top: 80px;
}

.other-services-text p {
  color: #141414;
  margin: 0;
}

section#platforms::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #1B1C24;
}

section #platforms-header::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-0.5%);
          transform: translateY(-0.5%);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #1B1C24;
  z-index: 1;
}

.other-services-images {
  margin-bottom: 20px;
}

.other-services-images .other-services-image-container {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 1199.98px) {
  .other-services-images .other-services-image-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .other-services-images .other-services-image-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .other-services-images .other-services-image-container {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 575.98px) {
  .other-services-images .other-services-image-container {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.other-services-images .other-services-image-container:nth-child(1) {
  margin-left: 0 !important;
}

.other-services-images .other-services-image-container img {
  width: 6%;
}

@media screen and (max-width: 1199.98px) {
  .other-services-images .other-services-image-container img {
    width: 6%;
  }
}

@media screen and (max-width: 991.98px) {
  .other-services-images .other-services-image-container img {
    width: 8%;
  }
}

@media screen and (max-width: 767.98px) {
  .other-services-images .other-services-image-container img {
    width: 6%;
  }
}

@media screen and (max-width: 575.98px) {
  .other-services-images .other-services-image-container img {
    width: 6%;
  }
}
/*# sourceMappingURL=platforms-section.component.css.map */