@import "../../_variables";
@import "../styles/_shared-sections";

.platforms-section{
    @include section-container;
}
.platforms-header{ 
    @include section-header;
}

.platforms-body{
    background-color:#F9F9F9;
    @include section-body;
    .platforms-main-images{
    
        .platforms-main-image-container{
        
            .platforms-main-image{
                width: 100%;
            }//platforms-main-image

        }//platforms-main-image-container

    }//platforms-main-images

    .platforms-small-images{
    
        .platforms-small-image-container{
        
            .platforms-small-image{
                width: 100%;
            }//platforms-main-image

        }//platforms-main-image-container

    }//platforms-main-images
}