<!--=========== Platforms section =============-->
<section class="row platforms-section" id="platforms">
    <!--== header ==-->
    <div class="col-12 platforms-header">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-7 align-self-center">
                <h3 class="word-header" >{{title}} <span class="blue-underscore blue-underscore-hide-show">_</span></h3>
                
            </div>
            
        </div>
        <!--platforms description-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-9 col-9  align-self-center">
                <p class="header-description" animateOnScroll beforeClass="opacity-0" animationName="fadeInUp animation-settings-1" >{{description}}</p>

            </div>
        </div>
    </div>

    <div class="col-12 platforms-body">

        <div class="row justify-content-around platforms-main-images">

            <div class="col-lg-2 col-sm-3 col-4">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/angular-card.png" alt="">
                </div>
            </div>

            <div class="col-lg-2 col-sm-3 col-4">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/ASP.NET_CORE.png" alt="">
                </div>
            </div>

            <div class="col-lg-2 col-sm-3 col-4">
                <div class="platforms-main-image-container">
                    <img  class="platforms-main-image" src="./assets/img/Framworks and platforms/Microsoft_.NET_logo.png" alt="">
                </div>
            </div>

        </div>

        <div class="row justify-content-center platforms-small-images">
            <div class="col-lg-1 col-sm-2 col-3">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/docker.png" alt="">
                </div>
            </div>

            <div class="col-lg-1 col-sm-2 col-3">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/wordpress.png" alt="">
                </div>
            </div>

            <div class="col-lg-1 col-sm-2 col-3">
                <div class="platforms-small-image-container">
                    <img  class="platforms-small-image" src="./assets/img/Framworks and platforms/nodejs.png" alt="">
                </div>
            </div>

                        
        </div>

    </div>

</section>