<!-- ==============  Footer  =============== -->

<footer class="row">
  <div class="col-12 footer-container">

    <div class="footer-content">
      <!-- Logo footer -->
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-5 col-7 footer-logo">
          <img src="./assets/img/My name (1).png" alt="">
        </div>
      </div>

      <!-- divider -->
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8 col-sm-9 col-10">
          <div class="divider-horizontal"></div>
        </div>
      </div>

      <!-- social links -->
      <ul class="row justify-content-center list-unstyled footer-list">
        <li class="col-lg-2 col-sm-3 col-4">
          <p><a class="normalize-anchor" [href]="linkedin" target="_blank">Linkedin</a></p>
        </li>

        <li class="col-lg-2 col-sm-3 col-4">
          <p><a class="normalize-anchor" [href]="github" target="_blank">Github</a></p>
        </li>
      </ul>

    </div>

    <!-- copyrights -->
    <div class="row justify-content-center">
      <div class="col-12 footer-copyright">
        <p>{{rights}}</p>
      </div>
    </div>

  </div>
</footer>
