<!-- ==============  Footer  =============== -->

<div class="row">
    <div class="col-12 footer-container">

        <div class="footer-content">
            <!-- Logo footer -->
            <div class="row justify-content-center">
                <div class="col-3 footer-logo">
                    <img src="./assets/img/My name (1).png" alt="">
                </div>
            </div>
    
            <!-- divider -->
            <div class="row justify-content-center">
                <div class="col-7">
                    <div class="divider-horizontal"></div>
                </div>
            </div>
    
            <!-- social links -->
            <ul class="row justify-content-center list-unstyled footer-list">
                <li class="col-2"><p>Linkedin</p></li>
    
                <li class="col-2"><p>Github</p></li>
            </ul>
    
        </div>
        
        <!-- copyrights -->
        <div class="row justify-content-center">
            <div class="col-3 footer-copyright">
                <p>© 2019 Moustafa Mohsen</p>
            </div>
        </div>

    </div>
</div>
