@import "../../_variables";
@import "../styles/_shared-sections";

.work-section{
    @include section-container;
}
.work-header{ 
    @include section-header;
}
.work-body{
    @include section-body;
    background-color:$primary-2;

    .work-card-container{
        //padding: 20px;
        margin-bottom: 50px;
        .work-card{
            color: $compelmentary;
            background-color: rgba($color: $primary, $alpha: 0.5);
            border-radius: 0;
            padding: 40px 50px 20px;
            &:hover{
                .word-card-background-overlay{
                    width: 100% !important;
                    transition: all ease-in-out 1000ms 200ms !important;
                }
            }

            .word-card-background-image{
                //content: "";
                background-size: cover;
                //background-repeat: no-repeat;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0.4;
                .word-card-background-overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;    
                    z-index: 0;
                    background-color: rgba(0,0,0,0.4);
                    transition: all ease-in-out 500ms 100ms !important;
                }
            }

            .work-card-header{
                margin-bottom: 20px;
                .work-card-title{
                    font-size: 5rem;
                }
            }

            .work-card-content{
                margin-bottom: 2.5rem;
                .work-card-description{
                    font-size: 14px;
                }
            }


            .work-card-footer{


                .work-card-resources-container{
                    $width:100%;
                    width: $width;
                    @media screen and (max-width:$break-l) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-m) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-s) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-x) {
                        width: $width;
                    }
                    .work-card-resources{
                        color: $primary;
                        background-color: $compelmentary;
                        border-radius: 0;
                        padding: 5px 17px;
                        .resources-content{
                            .resources-content-title{
                                p{
                                    margin-bottom: 0;
                                    font-size: 15px;
                                }
                            }

                            .resources-vertical-line{
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: $primary;
                            }

                            .resources-content-images{
                                img{
                                    margin-top: 5px;
                                    height: 30px;
                                    margin-right: 5px;
                                    @media screen and (max-width:$break-l) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-m) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-s) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-x) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }

                        .resources-languages{
                            p{
                                font-size: 10px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .work-card-button-container{
                    $width:100%;
                    width: $width;
                    position: relative;
                    //right: - $width*0.4;
                    @media screen and (max-width:$break-l) {
                        right: -13%;
                    }
                    @media screen and (max-width:$break-m) {
                    }
                    @media screen and (max-width:$break-s) {
                    }
                    @media screen and (max-width:$break-x) {
                        margin-top: 20px;
                    }
                    .work-card-button{
                        background-color: $tertiary;
                        color: $primary;
                        //padding: 1rem 0; 
                        margin-right: auto;
                        margin-left: auto;
                        width: 110%;
                        padding: 20px 0;
                        display: table;
                        cursor: pointer;
                        @media screen and (max-width:$break-l) {
                            width: 150%;
                        }
                        @media screen and (max-width:$break-m) {
                            width: 180%;
                        }
                        @media screen and (max-width:$break-s) {
                            width: 200%;
                        }
                        @media screen and (max-width:$break-x) {
                            width: 100%;
                        }

                        p{
                            font-size: 1rem;
    
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}


.fridge-notes-background{
    background-image: url('http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png');
}

.islamic-search-background{
    background-image: url('http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png');
}