<!--============== Work section ==============-->
<section class="row work-section">
        
    <div class="col-12 justify-content-center">

        <!--work header-->
        <div class="row justify-content-center">
            <div class="col-3 align-self-center">
                <h3 class="word-header" >Work <span class="blue-underscore">_</span></h3>
                
            </div>
            
        </div>

        <!--work description-->
        <div class="row justify-content-center">
            <div class="col-7 align-self-center">
                <p class="header-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet consectetur cum labore libero odio, accusantium incidunt dolorem unde molestias quos odit nostrum, ducimus adipisci? Assumenda ullam nulla id natus!</p>

            </div>
        </div>

    </div>
        

    <div class="col-12 work-body">

        <!-- Word container -->
        
        
    </div>
    
</section>