.work-section {
  color: #F9F9F9;
  margin-left: 0px;
  width: 100%;
  background-color: #1B1C24;
  padding: 125px 0 0;
  padding-top: 0px;
}

.section-header-title {
  margin-bottom: 23px;
}

.work-body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #F9F9F9;
  padding-bottom: 180px;
  transition: all 200ms ease-in-out;
}

.work-body .work-card-container {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.42);
}

.work-body .work-card-container .work-card {
  color: #F9F9F9;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0;
  padding: 40px 50px 20px;
  font-size: 5rem;
}

@media screen and (min-width: 1199.98px) {
  .work-body .work-card-container .work-card {
    padding: 40px 50px 20px;
  }
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card {
    padding: 40px 50px 20px;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card {
    padding: 20px 50px 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card {
    padding: 5px 25px 5px;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card {
    padding: 5px 25px 5px;
  }
}

.work-body .work-card-container .work-card:hover .work-card-header .work-card-uderline {
  width: 80%;
}

.work-body .work-card-container .work-card:hover .work-card-background-image .work-card-background-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.work-body .work-card-container .work-card .work-card-background-image {
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}

.work-body .work-card-container .work-card .work-card-background-image .work-card-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all ease-in-out 200ms 0ms !important;
  transition: all ease-in-out 200ms 0ms !important;
}

.work-body .work-card-container .work-card .work-card-header {
  margin-bottom: 20px;
}

.work-body .work-card-container .work-card .work-card-header .work-card-title {
  font-size: 5rem;
  color: #F9F9F9;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-header .work-card-title {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-header .work-card-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-header .work-card-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-header .work-card-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 300.98px) {
  .work-body .work-card-container .work-card .work-card-header .work-card-title {
    font-size: 1.5rem;
  }
}

.work-body .work-card-container .work-card .work-card-header .work-card-uderline {
  position: absolute;
  height: 2px;
  width: 60%;
  left: 0%;
  background-color: #F9F9F9;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.work-body .work-card-container .work-card .work-card-content {
  margin-bottom: 2.5rem;
}

.work-body .work-card-container .work-card .work-card-content .work-card-description {
  font-size: 1em;
  color: #F9F9F9;
}

.mar-top--20 {
  margin-top: -20px !important;
}

@media screen and (max-width: 991.98px) {
  .mar-top--20 {
    margin-top: -10px !important;
  }
}

/*
            .work-card-footer{
                //@include hide-down;
                .work-card-resources-container{
                    $width:100%;
                    width: $width;
                    @media screen and (max-width:$break-l) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-m) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-s) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-x) {
                        width: $width;
                    }
                    .work-card-resources{
                        color: $primary;
                        background-color: $compelmentary;
                        border-radius: 0;
                        padding: 5px 17px;
                        .resources-content{
                            .resources-content-title{
                                p{
                                    margin-bottom: 0;
                                    font-size: 15px;
                                }
                            }

                            .resources-vertical-line{
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: $primary;
                            }

                            .resources-content-images{
                                img{
                                    margin-top: 5px;
                                    height: 30px;
                                    margin-right: 5px;
                                    @media screen and (max-width:$break-l) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-m) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-s) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-x) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }

                        .resources-languages{
                            p{
                                font-size: 10px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .work-card-button-container{
                    $width:100%;
                    width: $width;
                    position: relative;
                    //right: - $width*0.4;
                    @media screen and (max-width:$break-l) {
                        //right: -13%;
                    }
                    @media screen and (max-width:$break-m) {
                    }
                    @media screen and (max-width:$break-s) {
                    }
                    @media screen and (max-width:$break-x) {
                        margin-top: 20px;
                    }
                    .work-card-button{
                        position: absolute;
                        background-color: $tertiary;
                        color: $primary;
                        //padding: 1rem 0; 
                        margin-right: auto;
                        margin-left: auto;
                        //width: 110%;
                        padding: 20px 0;
                        display: table;
                        cursor: pointer;
                        @media screen and (max-width:$break-l) {
                            //width: 150%;
                        }
                        @media screen and (max-width:$break-m) {
                            //width: 180%;
                        }
                        @media screen and (max-width:$break-s) {
                            //width: 200%;
                        }
                        @media screen and (max-width:$break-x) {
                            //width: 100%;
                        }

                        p{
                            font-size: 1rem;
    
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
*/
.fridge-notes-background {
  background-image: url("/./assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}

.islamic-search-background {
  background-image: url("/./assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}

section#work::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #1B1C24;
}

/*
$break-x: 575.98px;
$break-s: 767.98px;
$break-m: 991.98px;
$break-l: 1199.98px;
*/
.small-cards-container {
  padding-left: 15px;
  padding-right: 15px;
}

.small-cards-container .small-work-card-container {
  position: relative;
  height: 450px;
}

@media screen and (max-width: 1199.98px) {
  .small-cards-container .small-work-card-container {
    height: 350px;
  }
}

@media screen and (max-width: 991.98px) {
  .small-cards-container .small-work-card-container {
    height: 250px;
  }
}

@media screen and (max-width: 767.98px) {
  .small-cards-container .small-work-card-container {
    height: 180px;
  }
}

@media screen and (max-width: 575.98px) {
  .small-cards-container .small-work-card-container {
    height: 150px;
  }
}

@media screen and (max-width: 300.98px) {
  .small-cards-container .small-work-card-container {
    height: 100px;
  }
}

.small-cards-container .small-work-card-container .small-work-card-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.small-cards-container .small-work-card-container .small-work-card-background-image .small-work-card-background-overlay {
  height: 100%;
  width: 100%;
  background-color: #141414;
  opacity: 0.5;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.small-cards-container .small-work-card-container .small-work-card-body {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title-underline {
  position: absolute;
  height: 1px;
  width: 80%;
  left: 10%;
  background-color: #F9F9F9;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title {
  padding: 0;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title p {
  color: #F9F9F9;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container:hover .small-work-card-body .small-work-card-header .small-work-card-title-underline {
  left: 5%;
  width: 90%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container:hover .small-work-card-body .small-work-card-footer {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container:hover .small-work-card-background-overlay {
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
  opacity: 0.8 !important;
}

.model-project-card {
  border-radius: 0;
  padding: 0px 0px 10px;
}

.model-project-card .modal-project-header .modal-image {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
}

.model-project-card .modal-project-header .modal-image img {
  width: 100%;
}

.model-project-card .modal-project-content {
  padding: 20px 20px 20px;
}

.model-project-card .modal-project-content .modal-title h4 {
  color: #141414;
  font-weight: bold;
  margin: 0;
}

.model-project-card .modal-project-content .modal-subtitle p {
  color: #797979;
  font-weight: bold;
}

.model-project-card .modal-project-content .modal-description p {
  color: #141414;
  overflow-y: auto;
  max-height: 100px;
}

.model-project-card .modal-project-footer .visit-site-button {
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

.model-project-card .modal-project-footer .visit-site-button i {
  font-size: 0.9em;
}

.model-project-card .modal-project-close button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}

.model-project-card .modal-project-close button i {
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=work-section.component.css.map */