.work-section {
  color: #F9F9F9;
  margin-left: 0px;
  width: 100%;
  background-color: #1B1C24;
  padding: 125px 0 0;
}

.work-header {
  margin-bottom: 23px;
}

.work-body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3F3F3F;
}

.work-body .work-card-container {
  margin-bottom: 50px;
}

.work-body .work-card-container .work-card {
  color: #F9F9F9;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0;
  padding: 40px 50px 20px;
}

.work-body .work-card-container .work-card:hover .word-card-background-overlay {
  width: 100% !important;
  -webkit-transition: all ease-in-out 1000ms 200ms !important;
  transition: all ease-in-out 1000ms 200ms !important;
}

.work-body .work-card-container .work-card .word-card-background-image {
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
}

.work-body .work-card-container .work-card .word-card-background-image .word-card-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all ease-in-out 500ms 100ms !important;
  transition: all ease-in-out 500ms 100ms !important;
}

.work-body .work-card-container .work-card .work-card-header {
  margin-bottom: 20px;
}

.work-body .work-card-container .work-card .work-card-header .work-card-title {
  font-size: 5rem;
}

.work-body .work-card-container .work-card .work-card-content {
  margin-bottom: 2.5rem;
}

.work-body .work-card-container .work-card .work-card-content .work-card-description {
  font-size: 14px;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources {
  color: #141414;
  background-color: #F9F9F9;
  border-radius: 0;
  padding: 5px 17px;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-title p {
  margin-bottom: 0;
  font-size: 15px;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-vertical-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #141414;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
  margin-top: 5px;
  height: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-languages p {
  font-size: 10px;
  margin-bottom: 0;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container {
    right: -13%;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container {
    margin-top: 20px;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
  background-color: #E0FF4F;
  color: #141414;
  margin-right: auto;
  margin-left: auto;
  width: 110%;
  padding: 20px 0;
  display: table;
  cursor: pointer;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
    width: 150%;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
    width: 180%;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
    width: 200%;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
    width: 100%;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button p {
  font-size: 1rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.fridge-notes-background {
  background-image: url("http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}

.islamic-search-background {
  background-image: url("http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}
/*# sourceMappingURL=work-section.component.css.map */