@import "../../_variables";
@import "../styles/_shared-sections";

$hide-time:500ms;
@mixin hide-up {
    opacity: 0;
    transform: translateY(-60%);
    transition: all $hide-time ease-in-out;
}
@mixin hide-down {
    opacity: 0;
    transform: translateY(60%);
    transition: all $hide-time ease-in-out;
}
@mixin show {
    opacity: 1;
    transform: translateY(0%);
    transition: all $hide-time ease-in-out;
}

.work-section{
    @include section-container;
    padding-top:0px;
}
.section-header-title{ 
    @include section-header;
}
.work-body{
    @include section-body;
    background-color:$compelmentary;
    $card-time:200ms;
    $card-delay:0ms;
    //contact shape
    padding-bottom: 180px;
    transition: all 200ms ease-in-out;
    .work-card-container{
        //padding: 20px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.42);
        .work-card{
            color: $compelmentary;
            background-color: rgba($color: $primary, $alpha: 0.5);
            border-radius: 0;
            padding: 40px 50px 20px;
            font-size: 5rem;

            @media screen and (min-width:$break-l) {
                padding: 40px 50px 20px;
            }

            @media screen and (max-width:$break-l) {
                padding: 40px 50px 20px;
            }

            @media screen and (max-width:$break-m) {
                padding: 20px 50px 20px; 
            }

            @media screen and (max-width:$break-s) {
                padding: 5px 25px 5px;   
            }

            @media screen and (max-width:$break-x) {
                padding: 5px 25px 5px; 
            }
            // Min heights
            // small
            min-height: 300px;
            @media screen and (min-width:$break-x) {
                min-height: 300px;   
            }
            // medium
            @media screen and (min-width:$break-s) {
                min-height:350px;   
            }
            // large
            @media screen and (min-width:$break-m) {
                min-height: 360px; 
            }

            &:hover{
                .work-card-header .work-card-uderline{
                    width: 100% !important;
                }
                .work-card-background-image .work-card-background-overlay{
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
            //on hover

            .work-card-background-image{
                //content: "";
                background-size: cover;
                background-position: center;
                //background-repeat: no-repeat;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 1;//0.4;
                .work-card-background-overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;    
                    z-index: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    transition: all ease-in-out $card-time $card-delay !important;
                }
            }

            .work-card-header{
                .work-card-title-container{
                    width: fit-content;
                    //@include hide-up;
                    margin-bottom: 20px;
                    .work-card-title{
                        font-size: 5rem;
                        color:$compelmentary;
                        width: fit-content;
                        @media screen and (max-width:$break-l) {
                            font-size: 4.5rem; 
                        }
                        @media screen and (max-width:$break-m) {
                            font-size: 4rem;   
                        }
                        @media screen and (max-width:$break-s) {
                            font-size: 3.5rem;   
                        }
                        @media screen and (max-width:$break-x) {
                            font-size: 2.5rem;   
                        }
                        @media screen and (max-width:300.98px) {
                            font-size: 1.5rem;   
                        }
                    }
                    .work-card-uderline{
                        position: absolute;
                        height: 2px;
                        width: 80%;
                        left: 0%;
                        background-color: $compelmentary;
                        transition: all $card-time ease-in-out !important;
    
                    }
                }
            }

            .work-card-content{
                //@include hide-up;
                margin-bottom: 2.5rem;
                .work-card-description{
                    font-size: 1em;//14px;
                    color:$compelmentary;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
            .work-card-subtitle{
                p{
                    color: #797979;
                    font-weight: bold;
                    font-size: 0.2em;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
    }
}

.mar-top--20{
    margin-top:-20px !important;
    @media screen and (max-width:$break-m) {
        margin-top:-10px !important;
    }
}

/*
            .work-card-footer{
                //@include hide-down;
                .work-card-resources-container{
                    $width:100%;
                    width: $width;
                    @media screen and (max-width:$break-l) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-m) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-s) {
                        width: $width;
                    }
                    @media screen and (max-width:$break-x) {
                        width: $width;
                    }
                    .work-card-resources{
                        color: $primary;
                        background-color: $compelmentary;
                        border-radius: 0;
                        padding: 5px 17px;
                        .resources-content{
                            .resources-content-title{
                                p{
                                    margin-bottom: 0;
                                    font-size: 15px;
                                }
                            }

                            .resources-vertical-line{
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: $primary;
                            }

                            .resources-content-images{
                                img{
                                    margin-top: 5px;
                                    height: 30px;
                                    margin-right: 5px;
                                    @media screen and (max-width:$break-l) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-m) {
                                        height: 25px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-s) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (max-width:$break-x) {
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }

                        .resources-languages{
                            p{
                                font-size: 10px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .work-card-button-container{
                    $width:100%;
                    width: $width;
                    position: relative;
                    //right: - $width*0.4;
                    @media screen and (max-width:$break-l) {
                        //right: -13%;
                    }
                    @media screen and (max-width:$break-m) {
                    }
                    @media screen and (max-width:$break-s) {
                    }
                    @media screen and (max-width:$break-x) {
                        margin-top: 20px;
                    }
                    .work-card-button{
                        position: absolute;
                        background-color: $tertiary;
                        color: $primary;
                        //padding: 1rem 0; 
                        margin-right: auto;
                        margin-left: auto;
                        //width: 110%;
                        padding: 20px 0;
                        display: table;
                        cursor: pointer;
                        @media screen and (max-width:$break-l) {
                            //width: 150%;
                        }
                        @media screen and (max-width:$break-m) {
                            //width: 180%;
                        }
                        @media screen and (max-width:$break-s) {
                            //width: 200%;
                        }
                        @media screen and (max-width:$break-x) {
                            //width: 100%;
                        }

                        p{
                            font-size: 1rem;
    
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
*/
$fidge-notes-path:url('/./assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png');
.fridge-notes-background{
    background-image: $fidge-notes-path;
}

.islamic-search-background{
    background-image: $fidge-notes-path;
}

section#work::before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    transform: translateY(-99%);
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: $primary-3;
}

/*
$break-x: 575.98px;
$break-s: 767.98px;
$break-m: 991.98px;
$break-l: 1199.98px;
*/
.small-cards-container{
    padding-left: 15px;
    padding-right: 15px;

    $small-card-time:200ms;
    .small-work-card-container{
        position:relative;
        
        //margin-left: auto;
        //margin-right: auto;

        //width:550px;
        height:450px;
        @media screen and (max-width:$break-l) {
            //width:450px;
            height:350px;    
        }
        @media screen and (max-width:$break-m) {
            //width:350;
            height:250px;    
        }
        @media screen and (max-width:$break-s) {
            //width:250px;
            height:180px;    
        }
        @media screen and (max-width:$break-x) {
            //width:150px;
            height:150px;    
        }
        @media screen and (max-width:300.98px) {
            //width:90%;
            height:100px;    
        }
        
        //image
        .small-work-card-background-image{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width:100%;
            position: absolute;
            .small-work-card-background-overlay{
                height: 100%;
                width: 100%;
                background-color: $primary;
                opacity: 0.5;
                transition: all $small-card-time ease-in-out !important;
            }
        }
    
        //body
        .small-work-card-body{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;

            .small-work-card-header{

                .small-work-card-title-underline{
                    position: absolute;
                    height: 1px;
                    width: 80%;
                    left: 10%;
                    background-color: $compelmentary;
                    transition: all $small-card-time ease-in-out !important;
                }

                //title
                .small-work-card-title{
                    padding: 0;
                    p{
                        color: $compelmentary;
                        font-size: 2em;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }
        
            .small-work-card-footer{
                transform: translate3d(0,100%,0);
                opacity: 0;
                transition: all $small-card-time ease-in-out;
                
            }
        }//small-work-card-body
    
        &:hover{
            .small-work-card-body{
                .small-work-card-header{
                    .small-work-card-title-underline{
                        left: 5%;
                        width: 90%;
                        transition: all $small-card-time ease-in-out ;
                    }
                }
                .small-work-card-footer{
                    opacity: 1 ;
                    transform: translate3d(0,0,0) ;
                    transition: all $small-card-time ease-in-out ;
                }
            }

            .small-work-card-background-overlay{
                transition: all $small-card-time ease-in-out !important;
                opacity: 0.8 !important;
            }
        }
    }//small card container
}


.model-project-card{
    border-radius: 0;
    padding: 0px 0px 10px;


    .modal-project-header{
        .modal-image{
            overflow: hidden;
            position: relative;
            top: 0;
            left: 0;
            .carousel{
                width: 100%;;
                @media screen and (min-width:$break-m) {
                    width:800px;
                }
                @media screen and (min-width:$break-x) {
                    width:100%;
                }
            }
            .modal-background-image{
                width: 100%;;
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                @media screen and (min-width:$break-m) {
                    height: 480px;
                }
            }
        }
    }


    .modal-project-content{
        padding: 20px 20px 20px;
        .modal-title{
            h4{
                color: $primary;
                font-weight: bold;
                margin: 0;
            }
        }
        .modal-subtitle{
            p{
                color: #797979;
                font-weight: bold;
            }
        }
        .modal-description{
            p{
                color: $primary;
                overflow-y: auto;
                max-height: 100px;
            }
        }
        .modal-inner-description{
            pre{
                color: $primary;
                overflow-y: auto;
                white-space:pre-wrap;
                //max-height: 100px;
            }
        }
    }

    .modal-project-footer{
        padding: 0 15px;
        .visit-site-button{
            padding:0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 100% !important;
            i{
                font-size: 0.9em;
            }
        }
    }

    .modal-project-close{
        button{
            // normalize button
            background: none;
            border: 0;
            cursor: pointer;
            outline: 0;

            width: fit-content;
            padding: 0px;
            background-color: rgba(255, 255, 255, 0.4);
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            i{
                font-size: 20px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
    #modal-carousel{
        height: 100%;
    }
}