<!--============== Work section ==============-->
<section class="row work-section">
    <div class="row work-header">
        
        <!--work header-->
        <div class="col-12 justify-content-center">
            <div class="row justify-content-center">
                <div class="col-3 align-self-center">
                    <h3 class="word-header" >Work <span class="blue-underscore">_</span></h3>
                    
                </div>
                
            </div>
        </div>
        
        <!--work description-->
        <div class="col-12 justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-7 align-self-center">
                        <p class="header-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet consectetur cum labore libero odio, accusantium incidunt dolorem unde molestias quos odit nostrum, ducimus adipisci? Assumenda ullam nulla id natus!</p>

                    </div>
                </div>
        </div>
    </div>

    <div class="col-12 work-body">

        <div class="row justify-content-around work-main-images">

            <div class="col-2">
                <div class="work-main-image-container">
                    <img  class="work-main-image" src="./assets/img/Framworks and work/angular-card.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="work-main-image-container">
                    <img  class="work-main-image" src="./assets/img/Framworks and work/ASP.NET_CORE.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="work-main-image-container">
                    <img  class="work-main-image" src="./assets/img/Framworks and work/Microsoft_.NET_logo.png" alt="">
                </div>
            </div>

        </div>

        <div class="row justify-content-center work-small-images">
            <div class="col-1">
                <div class="work-small-image-container">
                    <img  class="work-small-image" src="./assets/img/Framworks and work/docker.png" alt="">
                </div>
            </div>

            <div class="col-1">
                <div class="work-small-image-container">
                    <img  class="work-small-image" src="./assets/img/Framworks and work/wordpress.png" alt="">
                </div>
            </div>

            <div class="col-1">
                <div class="work-small-image-container">
                    <img  class="work-small-image" src="./assets/img/Framworks and work/nodejs.png" alt="">
                </div>
            </div>

                        
        </div>

    </div>
    
</section>