.work-section {
  color: #F9F9F9;
  margin-left: 0px;
  width: 100%;
  background-color: #1B1C24;
  padding: 125px 0 0;
  padding-top: 10px;
}

.work-header {
  margin-bottom: 23px;
}

.work-body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F9F9F9;
}

.work-body .work-card-container {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.42);
}

.work-body .work-card-container .work-card {
  color: #F9F9F9;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0;
  padding: 40px 50px 20px;
}

.work-body .work-card-container .work-card .work-card-background-overlay {
  width: 100% !important;
  opacity: 0;
}

.work-body .work-card-container .work-card:hover .work-card-header {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-body .work-card-container .work-card:hover .work-card-content {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.work-body .work-card-container .work-card:hover .work-card-footer {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-body .work-card-container .work-card:hover .work-card-background-overlay {
  opacity: 1;
  -webkit-transition: all ease-in-out 1000ms 200ms !important;
  transition: all ease-in-out 1000ms 200ms !important;
}

.work-body .work-card-container .work-card .work-card-background-image {
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}

.work-body .work-card-container .work-card .work-card-background-image .work-card-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all ease-in-out 500ms 100ms !important;
  transition: all ease-in-out 500ms 100ms !important;
}

.work-body .work-card-container .work-card .work-card-header {
  opacity: 0;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  margin-bottom: 20px;
}

.work-body .work-card-container .work-card .work-card-header .work-card-title {
  font-size: 5rem;
  color: #141414;
}

.work-body .work-card-container .work-card .work-card-content {
  opacity: 0;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  margin-bottom: 2.5rem;
}

.work-body .work-card-container .work-card .work-card-content .work-card-description {
  font-size: 14px;
  color: #141414;
}

.work-body .work-card-container .work-card .work-card-footer {
  opacity: 0;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container {
    width: 100%;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources {
  color: #141414;
  background-color: #F9F9F9;
  border-radius: 0;
  padding: 5px 17px;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-title p {
  margin-bottom: 0;
  font-size: 15px;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-vertical-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #141414;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
  margin-top: 5px;
  height: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 1199.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-content .resources-content-images img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-resources-container .work-card-resources .resources-languages p {
  font-size: 10px;
  margin-bottom: 0;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 575.98px) {
  .work-body .work-card-container .work-card .work-card-footer .work-card-button-container {
    margin-top: 20px;
  }
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button {
  position: absolute;
  background-color: #E0FF4F;
  color: #141414;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;
  display: table;
  cursor: pointer;
}

.work-body .work-card-container .work-card .work-card-footer .work-card-button-container .work-card-button p {
  font-size: 1rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.fridge-notes-background {
  background-image: url("http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}

.islamic-search-background {
  background-image: url("http://localhost:4200/assets/img/Framworks and platforms/work-card/mocks/fridgenotes-desktop.png");
}

section#work::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #1b1c24;
}

/*
$break-x: 575.98px;
$break-s: 767.98px;
$break-m: 991.98px;
$break-l: 1199.98px;
*/
.small-cards-container {
  padding-left: 15px;
  padding-right: 15px;
}

.small-cards-container .small-work-card-container {
  position: relative;
  height: 450px;
}

@media screen and (max-width: 1199.98px) {
  .small-cards-container .small-work-card-container {
    height: 350px;
  }
}

@media screen and (max-width: 991.98px) {
  .small-cards-container .small-work-card-container {
    height: 250px;
  }
}

@media screen and (max-width: 767.98px) {
  .small-cards-container .small-work-card-container {
    height: 150px;
  }
}

@media screen and (max-width: 575.98px) {
  .small-cards-container .small-work-card-container {
    height: 100px;
  }
}

@media screen and (max-width: 300.98px) {
  .small-cards-container .small-work-card-container {
    height: 80px;
  }
}

.small-cards-container .small-work-card-container .small-work-card-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.small-cards-container .small-work-card-container .small-work-card-background-image .small-work-card-background-overlay {
  height: 100%;
  width: 100%;
  background-color: #141414;
  opacity: 0.5;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.small-cards-container .small-work-card-container .small-work-card-body {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title-underline {
  position: absolute;
  height: 1px;
  width: 80%;
  left: 10%;
  background-color: #F9F9F9;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title {
  padding: 0;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-header .small-work-card-title p {
  color: #F9F9F9;
  font-size: 2em;
  margin-bottom: 0;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer .small-work-card-button {
  margin: 10px 0;
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  white-space: nowrap;
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #F9F9F9;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer .small-work-card-button P {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer .small-work-card-button[disabled] {
  color: #b3b3b3;
  background-color: #dbdbdb;
  border-color: transparent;
}

.small-cards-container .small-work-card-container .small-work-card-body .small-work-card-footer .small-work-card-button:hover:not([disabled]) {
  background-color: #16ade3 !important;
  border-color: #16ade3 !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.small-cards-container .small-work-card-container:hover .small-work-card-body .small-work-card-header .small-work-card-title-underline {
  left: 5%;
  width: 90%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container:hover .small-work-card-body .small-work-card-footer {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.small-cards-container .small-work-card-container:hover .small-work-card-background-overlay {
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
  opacity: 0.8 !important;
}
/*# sourceMappingURL=work-section.component.css.map */