<!--======= Nav bar ========
-->

<!--

    <div #spacer></div>
-->
<div class="sticky-nav" stickyThing  [ngClass]="viewclass">
    <nav class="row justify-content-between navbar navbar-expand-lg navbar-light my-navbar">
        <a class="col-lg-3 col-md-3 col-sm-4 col-6 navbar-brand my-nav-logo" href="#">        
            <div class="align-self-end">
                <img src="./assets/img/My name (1).png" class="" alt="">
            </div>
        </a>
        <!---
            <button class="col-auto navbar-toggler my-nav-expand-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        -->
        <button mat-button class="col-auto navbar-toggler my-nav-expand-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">menu</i>
        </button>
        
    
        <div class="col-auto collapse navbar-collapse my-nav-div" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link nav-button-a" href="#skills">Skills </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button-a" href="#platforms">Platforms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button-a" href="#work">Work</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link nav-button-a" href="#contact">Contact</a>
            </li>
            </ul>
        </div>
    </nav>

</div>