<!--======= Nav bar ========-->
<div class="nav-container">
    
    
    <div class="row">

        <div class="col-5 align-self-end">
            <img src="./assets/img/My name (1).png" class="nav-logo" alt="">
        </div>

        <div class="col"></div>
        <div class="col-6">

            <ul class="row justify-content-end nav-items list-unstyled">

                <li class="col-5 align-self-center">
                    <span class="nav-button">Recent Work</span>
                </li>

                <div class="col-1">
                    <div class="vertical-seperator"></div>
                </div>

                <li class="col-3 align-self-center">
                    <span class="nav-button">Say Hi</span>
                </li>

            </ul>

        </div>


    </div>

    <div class="underline-nav-center"></div>

    <!---
        <img src="./assets/img/m-logo.png" alt="Moustafa" id="m-moustafa">
        <img src="./assets/img/m-logo.png" alt="Moustafa" id="m-mohsen">
        <span id="ostafa-word">oustafa</span>
        <span id="ohsen-word">ohsen</span>
    -->


</div>