@import "../../_variables.scss";

// ==== TOP final frame //
@mixin line-top-final-frame {
    top: 64%;
    left: 0%;
    width: 100%;
    height: 2px;
    position: unset;//code-last
}

@mixin container-top-final-frame {
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90px;
}



.top-nav-container{
    /*
    top: 25%;
    left: 10%;
    height: 400px;
    width: 80%;
    */

    position: absolute;
    //left: 5%;
    //width: 90%;
    &:before{
        content: "";
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        background-color: $primary-3;
        opacity: 0.8;
    }

    //@include container-top-final-frame;
    //animation: container-animate-to-top $container-time $container-delay ease-in-out;
    //animation-fill-mode: forwards;
      
    .underline-nav-center{
        //animation: nav-Container $line-time $line-delay ease-in-out;
        @include line-middle;
        // the top final farme
        //height: 0px;
        @include line-top-final-frame;
        //animation: line-animate-to-top $line-time $line-delay ease-in-out;
        //animation-fill-mode: forwards;
    }
    
}



.nav-logo{
    width: 56%;
    margin-bottom: 7px;
}

.nav-items{
    li{
        //font-family: 'Courier New', Courier, monospace;
        margin: 4px 0;
        .nav-button-span{
            color: $my-white;
            font-size: 35px;
            font-size: 1.5em;
            float: right;
            &:hover{
                color: $secondary !important;
                transition: all 200ms ease-in-out;
                cursor: pointer;
            }
        }
        &:last-child{
            .nav-button-span{
                color: rgb(226, 13, 13);
                float: left;
            }
        }
    }//li

}


.my-navbar{
    background-color: $primary-3;
    color: $my-white !important;
    border-bottom: solid 2px #16ade3;
    padding: 0;
    min-height: 50px;
    //fix row overflow
    margin: 0;

}

.my-nav-expand-button{
    float: right;
    i{
        color: $my-white;
    }
}
.my-nav-logo{
    width:100%;
    img{
        float: left;
        width: 100%;
    }
}

.my-nav-div{
    float: right;
    flex-grow: unset;
    ul{
        li{
            font-family: 'Raleway','Cormorant Garamond', sans-serif;
            margin: 4px 0;
            .nav-button-a{
                color: $my-white;
                font-size: 35px;
                font-size: 1.1em;
                float: right;
                &:hover{
                    color: $secondary !important;
                    transition: all 200ms ease-in-out;
                    cursor: pointer;
                }
            }
            &:last-child{
                .nav-button-span{
                    color: rgb(226, 13, 13);
                    float: left;
                }
            }
        }//li
    }
}

// nav sticky after
.nav-after{
    position: fixed !important;
    top: 0 !important;
    animation: popDown .5s;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-before{
    position: absolute;
    top: 500px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.sticky-nav{
    z-index: 1000;
    position: absolute;
}


@keyframes popDown{
    0% {
        transform: translateY(-100px);
    }
}