@import "../../_variables";
@import "../styles/_shared-sections";
$disable-animation:1;
$fade-time:200ms *$disable-animation;
$fade-delay:4000ms *$disable-animation;
.hero-page{
    //height: 500px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.mmlogo{
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.hero-background-text{
    opacity: 0;
    animation: fadeIn $fade-time $fade-delay ease-in-out forwards;
    p{
        color:$compelmentary;
        position: absolute;
        font-size: 3em;
        //opacity: 0.5;
        &.first-back{
            left: 15%;
            top: 25%;    
        }
        &.second-back{
            left: 15%;
            top: 64%;
        }
        span{
            font-weight: bold;
            color: $tertiary;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}