.hero-page {
  height: calc(var(--vh, 1vh) * 100);
  -webkit-transition: height 50ms;
  transition: height 50ms;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.hero-page .chrome-mobile {
  height: calc(100vh - 56px);
}

.mmlogo {
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

@media screen and (max-width: 1199.98px) {
  .mmlogo {
    height: 226px;
  }
}

@media screen and (max-width: 991.98px) {
  .mmlogo {
    height: 203px;
  }
}

@media screen and (max-width: 767.98px) {
  .mmlogo {
    height: 229px;
  }
}

@media screen and (max-width: 575.98px) {
  .mmlogo {
    height: 170px;
  }
}

.hero-background-text {
  opacity: 0;
  -webkit-animation: fadeIn 200ms 4000ms ease-in-out forwards;
          animation: fadeIn 200ms 4000ms ease-in-out forwards;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-background-text p {
  color: #F9F9F9;
  position: absolute;
  font-size: 3em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero-background-text p.first-back {
  left: 5%;
  top: 18%;
}

.hero-background-text p.second-back {
  left: 5%;
  top: 66%;
}

.bottom-abs {
  position: absolute !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
  z-index: 3;
}

.scroll-arrows button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0;
  width: 40px;
  height: 54px;
  position: relative;
  border-radius: 18px;
  min-width: unset;
}

.scroll-arrows button:hover {
  background-color: transparent !important;
}

.scroll-arrows button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite forwards;
          animation: sdb07 2s infinite forwards;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scroll-arrows button span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.scroll-arrows button span:nth-of-type(2) {
  top: 12px;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.scroll-arrows button span:nth-of-type(3) {
  top: 24px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.down-icon {
  font-size: 15px;
  color: white;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.underline-nav-center {
  position: absolute;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #F9F9F9;
  z-index: 4 !important;
  border-radius: 2px;
  width: 0;
  left: 50%;
}

.underline-nav-center-container {
  position: fixed;
  top: 50%;
  height: 3px;
  width: 90%;
  left: 5%;
  z-index: 4 !important;
}

.navbar-sticky {
  position: fixed;
  background-color: #3F3F3F;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2 !important;
}

.nav-col {
  height: 100%;
  background-color: #1B1C24;
}

@-webkit-keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 3px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #F9F9F9;
    z-index: 4 !important;
    border-radius: 2px;
  }
}

@keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 3px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #F9F9F9;
    z-index: 4 !important;
    border-radius: 2px;
  }
}

.logo-overlay {
  width: 100%;
  height: 88%;
  position: absolute;
  z-index: 4;
  display: none;
}

.buttons-container {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
}

.my-navbar {
  background-color: #1B1C24;
  color: #F9F9F9 !important;
  padding: 0px 5px 0px 0px;
  min-height: 40px;
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 575.98px) {
  .my-navbar {
    min-height: 35px;
    font-size: 8px;
  }
}

.my-nav-div {
  float: right;
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.my-nav-div ul li {
  font-family: 'Raleway','Cormorant Garamond', sans-serif;
  margin: 4px 0;
}

.my-nav-div ul li .nav-button-a {
  color: #F9F9F9;
  font-size: 35px;
  font-size: 1.1em;
  float: right;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.my-nav-div ul li .nav-button-a:hover {
  color: #16ADE3 !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.my-nav-div ul li .active {
  color: #16ADE3 !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.my-nav-div ul li:last-child .nav-button-span {
  color: #e20d0d;
  float: left;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@-webkit-keyframes scrolldow-image {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 20%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes scrolldow-image {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 20%;
  }
  100% {
    margin-top: 0%;
  }
}

.fade-out {
  opacity: 0 !important;
}

.fade-in {
  opacity: 1 !important;
}

#indecator_mobile {
  position: fixed;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px red;
  background: white;
  z-index: 5000;
}
/*# sourceMappingURL=hero-section.component.css.map */