@import "../../_variables";
@import "../styles/_shared-sections";

$disable-animation:1;
$line-delay:000ms *$disable-animation;
$line-time:500ms *$disable-animation;

// TODO: flip the words up instead of fading in
$disable-animation:1;
$fade-time:200ms *$disable-animation;
$fade-delay:4000ms *$disable-animation;
.hero-page{
    // height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    // height: 100%;
    position: relative;
    // transition: height 50ms;
    //height: 500px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    // z-index: 10;
    // border: solid 10px red;
}
.mmlogo{
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    //position: relative;
    top: 50%;
    transform: translateY(-50%) scale(1);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    @media screen and (max-width:$break-l) {
        height: 226px;
    }
    @media screen and (max-width:$break-m) {
        height: 203px;
    }
    @media screen and (max-width:$break-s) {
        height: 229px;
    }
   @media screen and (max-width:$break-x) {
        height: 170px;
   }
}
.hero-background-text{
    opacity: 1;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    .background-text{
        color:$compelmentary;
        position: absolute;
        font-size: 3em;
        transition: all 0.5s;
        //opacity: 0.5;
        &.first-back{
            left: 5%;
            top: 18%;
        }
        &.second-back{
            left: 5%;
            top: 66%;
        }

    }
}

.bottom-abs{
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 3;
    &.chrome-mobile{
      transform: translateX(-50%) translateY(-100%);
    }
}

.scroll-arrows{
  button{
    transition: all 0.5s;
    padding: 0;
    width: 40px;
    height: 54px;
    position: relative;
    //border: solid 1px red;
    border-radius: 18px;
    min-width: unset;
    &:hover{
      background-color: transparent !important;
    }
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      animation: sdb07 2s infinite forwards;
      opacity: 0;
      box-sizing: border-box;
    }
    span:nth-of-type(1) {
      animation-delay: 0s;
    }
    span:nth-of-type(2) {
      top: 12px;
      animation-delay: 0.15s;
    }
    span:nth-of-type(3) {
      top: 24px;
      animation-delay: 0.3s;
    }
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.down-icon{
  font-size: 15px;
  color:white;
}


// LOADING
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
@mixin line-middle {
  position: absolute;
  animation-fill-mode: forwards;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: $my-white;
  z-index: 4 !important;
  border-radius: 2px;
}
.underline-nav-center{
  //animation: nav-Container $line-time $line-delay ease-in-out;
  @include line-middle;
  width: 0;
  left: 50%;
}
.underline-nav-center-container{
  position: fixed;
  top: 50%;
  left: 5%;
  height: 3px;
  width: 90%;
  z-index: 4 !important;

}
.navbar-sticky{
  position: fixed;
  background-color: #3F3F3F;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2 !important;
}
.nav-col{
  height: 100%;
  background-color: #1B1C24;
}
@keyframes nav-Container{
  0%{
      width: 0;
      left: 50%;
      height: 3px;
  }
  100%{
      @include line-middle;
      //width: 74%;
      //left: 14%;
  }
}
.logo-overlay{
  width: 100%;
  height: 88%;
  position: absolute;
  z-index: 4;
  display: none;
}
.buttons-container {
  opacity: 0;
  transition: all 0.5s;
  box-shadow:  0px 5px 17px -1px #16ade3;
  height: 100%;
  &.flicker{
    animation:flicker2 5s 5 alternate;
  }
}
.my-navbar{
  background-color: $primary-3;
  color: $my-white !important;
  padding: 0px 5px 0px 0px;
  min-height: 40px;
  //fix row overflow
  margin: 0;
  height: 100%;
  // box-shadow: 0px 0px 0px 0px #16ade3;
  @media screen and (max-width:$break-x) {
      min-height: 35px;
      font-size: 8px;
  }

}
.my-nav-div{
  float: right;
  flex-grow: unset;
  ul{
      li{
          font-family: 'Raleway','Cormorant Garamond', sans-serif;
          margin: 4px 0;
          .nav-button-a{
              color: $my-white;
              font-size: 35px;
              font-size: 1.1em;
              float: right;
              &:hover{
                  color: $secondary !important;
                  transition: all 200ms ease-in-out;
                  cursor: pointer;
              }
              transition: all 200ms ease-in-out;
          }
          .active{
              color: $secondary !important;
              transition: all 200ms ease-in-out;
          }
          &:last-child{
              .nav-button-span{
                  color: rgb(226, 13, 13);
                  float: left;
              }
          }
      }//li
  }
}


$delay: 1000ms;
$duration: 5000ms;
$iterations: infinite;


.reveal-text,
.reveal-text::after {
	animation-delay: --animation-delay;
	animation-iteration-count: $iterations;
	animation-duration: $duration;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: $delay;
	--animation-duration: $duration;
	--animation-iterations: $iterations;
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;

	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $tertiary;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}


@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


@keyframes scrolldow-image{
  0%{
    margin-top: 0%;
  }
  50%{
    margin-top: 20%;
  }
  100%{
    margin-top: 0%;
  }
}

.fade-out{
  opacity: 0 !important;
}
.fade-in {
  opacity: 1 !important;
}


#indecator_mobile{
  position: fixed;
  height: 20px;
  width: fit-content;
  border: solid 1px red;
  background: white;
  z-index: 5000;
}


// @keyframes flicker {

//   0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
//     box-shadow:  0px 5px 17px -1px #16ade3;
//   }
//   20%, 24%, 55% {
//     box-shadow: none;
//   }
// }

@keyframes flicker2 {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    box-shadow:  0px 5px 17px -1px #16ade3;

	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    box-shadow: none;
	}
}

// @keyframes delayFlicker {
// 	0%, 100% {
//     box-shadow:  0px 5px 17px -1px #16ade3;

// 	}
// }
