<div class="row no-gutters hero-page" [ngStyle]="getheight()">
    <div class="col-md col"></div>


    <div class="col-md-8 col-11 relative">
<!---
-->
      <div class="hero-background-text">
        <p class="first-back">Hello I'm</p>
      </div>

      <div class="mmlogo" id="mmlogo" [ngStyle]="logoheight()">
        <app-mmlogo ></app-mmlogo>
      </div>

      <div class="hero-background-text">
          <p class="second-back">a <span>Full stack web developer</span></p>
      </div>

    </div>

    <div class="col-md col"></div>




</div>