<div class="row hero-page" [ngStyle]="getheight()">
    <div class="col-md col"></div>


    <div class="col-md-8 col-12 relative">
<!---
-->
      <div class="hero-background-text">
        <p class="first-back">Hello I'm</p>
      </div>

      <div class="mmlogo">
        <app-mmlogo ></app-mmlogo>
      </div>

      <div class="hero-background-text">
          <p class="second-back">I'm a <span>Full stack web developer</span></p>
      </div>

    </div>

    <div class="col-md col"></div>




</div>