@import "../../_variables";
@import "../styles/_shared-sections";

.skills-section{
    @include section-container;
}

.skills-header{ 
    @include section-header;
}

.skills-body{
    background-color:#F9F9F9;
    @include section-body;

    //background-color: $my-black-3;
    //background-color:#1B1C24;
    .skills-main-images{
    
        .skills-main-image-container{
        
            .skills-main-image{
                width: 100%;
            }//skills-main-image

        }//skills-main-image-container

    }//skills-main-images

    .skills-small-images{
    
        .skills-small-image-container{
        
            .skills-small-image{
                width: 100%;
            }//skills-main-image

        }//skills-main-image-container

    }//skills-main-images
}