@import "../../_variables";
@import "../styles/_shared-sections";

.skills-section{
    @include section-container;
    &.chrome-mobile{
        padding-top: 170px;
    }
}

.skills-header{ 
    @include section-header;
}

.skills-body{
    background-color:$compelmentary;
    @include section-body;

    padding-top: 100px;
    padding-bottom: 100px;
    transition: all 200ms ease-in-out;
    @media screen and (max-width:$break-x) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .skills-main-images{
    
        .skills-main-image-container{
        
            .skills-main-image{
                width: 100%;
            }//skills-main-image

        }//skills-main-image-container

    }//skills-main-images

    .skills-small-images{
    
        .skills-small-image-container{
        
            .skills-small-image{
                width: 100%;
                padding-left: 5px;
                padding-right: 3px;
                margin-top: 50px;
                margin-bottom: 0px;
            }//skills-main-image

        }//skills-main-image-container

    }//skills-main-images
}


.test-area{
    position: relative;
    height: 1000px;
    width: 100%;
}
