<!--=========== Skills section =============-->
<section class="row skills-section">
    <!--== Header ==-->
    <div class="col-12 skills-header">
        <!--skills title-->
        <div class="row justify-content-center">
            <div class="col-3 align-self-center">
                <h3 class="word-header" >{{title}} <span class="blue-underscore">_</span></h3>
                
            </div>
            
        </div>

        <!--skills description-->
        <div class="row justify-content-center">
            <div class="col-7 align-self-center">
                <p class="header-description" >{{description}}</p>

            </div>
        </div>
    </div>


    <div class="col-12 skills-body">

        <div class="row justify-content-around skills-main-images">

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" src="./assets/img/Programing languages/CSharp.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" src="./assets/img/Programing languages/TS.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" src="./assets/img/Programing languages/JavaScript-logo.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" src="./assets/img/Programing languages/html5.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" src="./assets/img/Programing languages/css3_squer.png" alt="">
                </div>
            </div>
                                
        </div>

        <div class="row justify-content-center skills-small-images">
            <div class="col-1">
                <div class="skills-small-image-container">
                    <img  class="skills-small-image" src="./assets/img/Programing languages/postgresql_logo.png" alt="">
                </div>
            </div>

            <div class="col-1">
                <div class="skills-small-image-container">
                    <img  class="skills-small-image" src="./assets/img/Programing languages/sass.png" alt="">
                </div>
            </div>
            
        </div>

    </div>

</section>
<!---
<div class="test-area">
    <app-image-glare></app-image-glare>
</div>
-->