<!--=========== Skills section =============-->
<section class="row skills-section" id="skills">
    <!--== Header ==-->
    <div class="col-12 skills-header">
        <!--skills title-->
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-7 align-self-center">
                <h3 class="word-header" >{{title}} <span class="blue-underscore blue-underscore-hide-show">_</span></h3>
                
            </div>
            
        </div>

        <!--skills description-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-9 col-9 align-self-center">
                <p class="header-description" animateOnScroll (func)="typeEffect(_title,100)" beforeClass="opacity-0" animationName="fadeInUp animation-settings-1">{{description}}</p>

            </div>
        </div>
    </div>


    <div class="col-12 skills-body">

        <div class="row no-gutters justify-content-around skills-main-images">

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/CSharp.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/TS.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/JavaScript-logo.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/html5.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="skills-main-image-container">
                    <img  class="skills-main-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/css3_squer.png" alt="">
                </div>
            </div>
                                
        </div>

        <div class="row no-gutters justify-content-center skills-small-images">
            <div class="col-lg-1 col-md-2 col-sm-2 col-2">
                <div class="skills-small-image-container">
                    <img  class="skills-small-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/postgresql_logo.png" alt="">
                </div>
            </div>

            <div class="col-lg-1 col-md-2 col-sm-2 col-2">
                <div class="skills-small-image-container">
                    <img  class="skills-small-image" animateOnScroll beforeClass="opacity-0" animationName="fadeIn animation-settings-2" src="./assets/img/Programing languages/sass.png" alt="">
                </div>
            </div>
            
        </div>

    </div>

</section>
<!---
<div class="test-area">
    <app-image-glare></app-image-glare>
</div>
-->