







<div class="mask pseudo" [ngStyle]="imageStyles">
    <img [src]="imageUrl" alt="CSS3Create logo" />
    <div class="glare" [ngStyle]="glareStyles"></div>
</div>
  


<div class="cssmask" >
    <img [src]="imageUrl" alt="CSS3Create logo" />
    <div class="cssglare" ></div>
</div>
  








<!-- TH
  E mask
-->
    <!-- 
  <svg height="0">
    <mask id="mask-firefox">
      <image [attr.xlink:href]="imageUrl" filter="url(#filter)" /> 
    </mask>
      the filter to make the image white
      <filter id="filter">
        <feFlood flood-color="white" />
        <feComposite in2="SourceAlpha" operator="in" />
      </filter>
    </svg>
  -->
    
    