<main class="container-fluid">
  <div class="row">

    <!--======= Nav bar ========
    -->
      <div class="fixed-top">
        <app-top-nav></app-top-nav>
      </div>
      
    <!--=========== Hero section =============
    -->
    <app-hero-section></app-hero-section>

    <!--=========== Skills section =============
    -->
      <app-skills-section></app-skills-section>

    <!--=========== Platforms section =============
    -->
      <app-platforms-section></app-platforms-section>

    <!--============== Work section ==============
    -->
      <app-work-section></app-work-section>

    <!--============== Contact Me section ================
    -->
      <app-contact-section></app-contact-section>
    
    
  </div>
</main>
<!-- ==============  Footer  =============== 
-->
  <footer class="container-fluid">
    <app-footer-section></app-footer-section>
  </footer>