<main class="container-fluid pad-0">


    <!--=========== Hero section ============= -->
    <app-hero-section></app-hero-section>

    <!--======= Nav bar ========-->
    <!-- <app-top-nav ></app-top-nav> -->

    <!--=========== Skills section =============
    -->
    <app-skills-section></app-skills-section>

    <!--=========== Platforms section =============
    -->
    <app-platforms-section></app-platforms-section>

    <!--============== Work section ==============
    -->
    <app-work-section></app-work-section>

    <!--============== blog section ==============
    -->
    <app-blog-section></app-blog-section>

    <!--============== Contact Me section ================
    -->
    <app-contact-section></app-contact-section>

</main>
<!-- ==============  Footer  ===============
-->
<footer class="container-fluid">
  <app-footer-section></app-footer-section>
</footer>
