<!--============== Contact Me section ================-->

<section class="row contact-section">
    <div class="col-12 justify-content-center contact-header">
        
        <!--contact header-->
        <div class="row justify-content-center">
            <div class="col-3 align-self-center">
                <h3 class="word-header" >{{title}} <span class="blue-underscore">_</span></h3>
                
            </div>
            
        </div>

        <!--contact description-->
        <div class="row justify-content-center">
            <div class="col-7 align-self-center">
                <p class="header-description" >{{description}}</p>

            </div>
        </div>

    </div>


    <div class="col-12 contact-body">

        <div class="row justify-content-center contact-card-container">

            <div class="col-10">
                <div class="row justify-content-center contact-card">
                    <!--===inner about card===-->
                    <div class="col-5 align-self-center">
                        <div class="inner-about-card">
                            <!--title-->
                            <div class="about-title"><p>{{aboutMe.title}}</p></div>

                            <!--small-title-->
                            <div class="about-small-title"><p>{{aboutMe.subtitle}}</p></div>

                            <!--paragraph-->
                            <div class="about-paragraph"><p>{{aboutMe.description}} </p></div>

                        </div>
                    </div>

                    <!--==== contact form ===-->
                    <div class="col-5">

                        <div class="about-form">
                                <div class="name-input-form">
                                        <div class="input-lable"><span>Name*</span></div>
                                        <div class="input-text"></div>
                                    </div>

                                <div class="email-input-form">
                                        <div class="input-lable"><span>Email*</span></div>
                                        <div class="input-text"></div>
                                    </div>

                                <div class="message-input-form">
                                        <div class="input-lable"><span>Message*</span></div>
                                        <div class="input-area"></div>
                                    </div>

                                <div class="send-button">
                                    <p>Send <span>--></span></p>
                                </div>

                        </div>
                    </div>
                        

                </div>
            </div>
        
        </div>
        
    </div>
        
</section>