<!--============== Contact Me section ================-->

<section class="row contact-section">
    <div class="row contact-header">
        
        <!--contact header-->
        <div class="col-12 justify-content-center">
            <div class="row justify-content-center">
                <div class="col-3 align-self-center">
                    <h3 class="word-header" >Contact <span class="blue-underscore">_</span></h3>
                    
                </div>
                
            </div>
        </div>
        
        <!--contact description-->
        <div class="col-12 justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-7 align-self-center">
                        <p class="header-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet consectetur cum labore libero odio, accusantium incidunt dolorem unde molestias quos odit nostrum, ducimus adipisci? Assumenda ullam nulla id natus!</p>

                    </div>
                </div>
        </div>
    </div>

    <div class="col-12 contact-body">

        <div class="row justify-content-center contact-card-container">

            <div class="col-10">
                <div class="row justify-content-center contact-card">
                    <!--===inner about card===-->
                    <div class="col-5 align-self-center">
                        <div class="inner-about-card">
                            <!--title-->
                            <div class="about-title"><p>About Me.</p></div>

                            <!--small-title-->
                            <div class="about-small-title"><p>front-end/back-end developer</p></div>

                            <!--paragraph-->
                            <div class="about-paragraph"><p>I'm Moustafa Mohsen, a 23 years-old software engineer student at al Azhar 
                                    Cairo Engineering school, I'm very fond of code, Every type of it, I have been
                                    coding since 19 and I'm not entinding to stop, I like to try new </p></div>

                        </div>
                    </div>

                    <!--==== contact form ===-->
                    <div class="col-5">

                        <div class="about-form">
                                <div class="name-input-form">
                                        <div class="input-lable"><span>Name*</span></div>
                                        <div class="input-text"></div>
                                    </div>

                                <div class="email-input-form">
                                        <div class="input-lable"><span>Email*</span></div>
                                        <div class="input-text"></div>
                                    </div>

                                <div class="message-input-form">
                                        <div class="input-lable"><span>Message*</span></div>
                                        <div class="input-area"></div>
                                    </div>

                                <div class="send-button">
                                    <p>Send <span>--></span></p>
                                </div>

                        </div>
                    </div>
                        

                </div>
            </div>
        
        </div>
        
    </div>
        
</section>