<!--============== Contact Me section ================-->

<section class="row contact-section relative" id="contact" animateOnScroll animationName="active-contact">
    <div class="col-12 justify-content-center contact-header">
        
        <!--contact header-->
        <div class="row justify-content-center">
            <div class="col-12 align-self-center">
                <h3 class="section-header-title" >{{title}} <span class="blue-underscore blue-underscore-hide-show">_</span></h3>
                
            </div>
            
        </div>

        <!--contact description-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10 col-12  align-self-center">
                <p class="header-description section-header-description" animateOnScroll (func)="typeEffect(_title,100)" beforeClass="opacity-0" animationName="fadeInUp animation-settings-1" [innerHTML]="description"></p>

            </div>
        </div>

    </div>


    <div class="col-12 contact-body">

        <div class="row justify-content-center contact-card-container"  animateOnScroll beforeClass="opacity-0" animationName="fadeInUp animation-settings-2">

            <div class="col-lg-10 col-sm-11 col-11">
                <div class="row justify-content-center contact-card mar-0">
                    <!--===inner about card===-->
                    <div class="col-sm-5 align-self-center pad-0 about-col">
                        <div class="inner-about-card">
                            <!-- background word-->
                            <div class="about-back">{{aboutMe.backtext}}</div>
                            <!--title-->
                            <div class="about-title"><p>{{aboutMe.title}}</p></div>

                            <!--small-title-->
                            <div class="about-small-title"><p>{{aboutMe.subtitle}}</p></div>

                            <!--paragraph-->
                            <div class="about-paragraph"><p>{{aboutMe.description}} </p></div>

                        </div>
                    </div>
                    <!--==== contact form ===-->
                    <div class="col-sm-5 pad-0 form-col">

                        <form method="POST" class="about-form row" id="contact_form" [formGroup]="contactForm">

                            <!-- 
                                <div class="name-input-form">
                                    <div class="input-lable"><span>Name*</span></div>
                                    <div class="input-text"></div>
                                </div>
                            -->

                            <mat-form-field class="col-12 my-input-form name-input-form" >
                                <input autocomplete="off" name="name" formControlName="name" class="input-text" matInput placeholder="Name *">
                            </mat-form-field>

                            <!-- 
                                <div class="email-input-form" >
                                    <div class="input-lable"><span>Email*</span></div>
                                    <input class="input-text" formControlName="name" type="text">
                                </div>
                            -->
                            <mat-form-field class="col-12 my-input-form email-input-form" >
                                <input autocomplete="off" name="email" formControlName="email" class="input-text" matInput placeholder="Your Email *">
                            </mat-form-field>


                            <!--  
                                <div class="message-input-form">
                                    <div class="input-lable"><span>Message*</span></div>
                                    <div class="input-area"></div>
                                </div>
                            -->

                            <mat-form-field class="col-12 my-input-form message-input-form">
                                <textarea autocomplete="off" name="message" formControlName="message" class="input-area" matInput 
                                placeholder="Message *"></textarea>
                            </mat-form-field>
    
                            <input type="hidden" name="data" id="contact_form_data">

                            <div class="col-12">
                                <button mat-button class="send-button" (click)="submit()" type="submit" [disabled]="loading"><p >Send <span></span></p></button>
                            </div>

                        </form>
                        <span>
                            Email:
                            <span class="highlight">
                                <a class="highlight normalize-anchor" [href]="'mailto:'+email">{{email}}</a>
                            </span>

                        </span>
                    </div>
                        

                </div>
            </div>
        
        </div>
        
    </div>
        
</section>