.contact-section {
  color: #F9F9F9;
  margin-left: 0px;
  width: 100%;
  background-color: #1B1C24;
  padding: 125px 0 0;
  padding-top: 20px;
}

.contact-header {
  margin-bottom: 23px;
}

.contact-body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #3F3F3F;
  transition: all 200ms ease-in-out;
}

.contact-body .contact-card-container {
  position: relative;
  padding: 20px 0px;
}

.contact-body .contact-card-container .contact-card {
  bottom: 0;
  width: 100%;
  min-height: 300px;
  background-color: #1B1C24;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.68);
  padding: 35px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 575.98px) {
  .contact-body .contact-card-container .contact-card {
    padding: 35px 0 0;
  }
}

.contact-body .contact-card-container .contact-card .about-back {
  position: absolute;
  font-size: 5em;
  opacity: 0.5;
  left: 100%;
  -webkit-transform: translateX(-77%);
          transform: translateX(-77%);
  top: -2%;
}

.contact-body .contact-card-container .contact-card .about-col {
  margin-right: 5%;
}

@media screen and (min-width: 1199.98px) {
  .contact-body .contact-card-container .contact-card .about-col .about-back {
    font-size: 5em;
  }
  .contact-body .contact-card-container .contact-card .form-col {
    margin-left: 0;
  }
}

@media screen and (max-width: 991.98px) {
  .contact-body .contact-card-container .contact-card .about-col .about-back {
    font-size: 5.5em;
  }
  .contact-body .contact-card-container .contact-card .form-col {
    margin-left: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .contact-body .contact-card-container .contact-card .about-col .about-back {
    font-size: 6em;
  }
  .contact-body .contact-card-container .contact-card .form-col {
    margin-left: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .contact-body .contact-card-container .contact-card .about-col {
    margin-right: 0;
  }
  .contact-body .contact-card-container .contact-card .about-col .about-back {
    font-size: 8.5em;
  }
  .contact-body .contact-card-container .contact-card .form-col {
    margin: 5% 5% 5%;
  }
}

.contact-body .contact-card-container .contact-card .inner-about-card {
  padding: 45px  20px 20px;
  color: #141414;
  background-color: #F9F9F9;
  overflow: hidden;
  position: relative;
}

.contact-body .contact-card-container .contact-card .inner-about-card .about-title p {
  font-weight: 200;
  font-size: 35px;
  margin: 0;
  line-height: 35px;
}

.contact-body .contact-card-container .contact-card .inner-about-card .about-small-title p {
  font-size: 17.5px;
}

.contact-body .contact-card-container .contact-card .inner-about-card .about-paragraph p {
  font-size: 10.5px;
  font-weight: 300;
}

.contact-body .contact-card-container .contact-card .about-form .input-text {
  display: block;
  position: relative;
  height: 18px;
  width: 100%;
  margin-bottom: 1px;
}

.contact-body .contact-card-container .contact-card .about-form .input-area {
  display: block;
  position: relative;
  height: 70px;
  width: 100%;
  resize: none;
}

.contact-body .contact-card-container .contact-card .about-form .input-lable {
  font-size: 12px;
}

.contact-body .contact-card-container .contact-card .about-form .name-input-form {
  height: 100%;
}

.contact-body .contact-card-container .contact-card .about-form .email-input-form {
  height: 100%;
}

.contact-body .contact-card-container .contact-card .about-form .message-input-form {
  height: 100%;
}

.contact-body .contact-card-container .contact-card .about-form .send-button {
  margin: 10px 0;
  display: block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  white-space: nowrap;
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #F9F9F9;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.contact-body .contact-card-container .contact-card .about-form .send-button P {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.contact-body .contact-card-container .contact-card .about-form .send-button[disabled] {
  color: #b3b3b3;
  background-color: #dbdbdb;
  border-color: transparent;
}

.contact-body .contact-card-container .contact-card .about-form .send-button:hover:not([disabled]) {
  background-color: #16ADE3 !important;
  border-color: #16ADE3 !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media screen and (max-width: 575.98px) {
  .contact-body .contact-card-container .contact-card .about-form .send-button {
    width: 100% !important;
  }
}

.contact-body .contact-card-container .contact-card .email-sec {
  margin: 29px 0 0px;
  line-height: 1em;
}

section#contact::before {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  -webkit-clip-path: polygon(50% 98%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 98%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: #1B1C24;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

section#contact.active-contact::before {
  height: 100px;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 1199.98px) {
  section#contact.active-contact::before {
    height: 150px !important;
  }
}

@media screen and (max-width: 1199.98px) {
  section#contact.active-contact::before {
    height: 140px !important;
  }
}

@media screen and (max-width: 991.98px) {
  section#contact.active-contact::before {
    height: 120px !important;
  }
}

@media screen and (max-width: 767.98px) {
  section#contact.active-contact::before {
    height: 100px !important;
  }
}

@media screen and (max-width: 575.98px) {
  section#contact.active-contact::before {
    height: 60px !important;
  }
}

@media screen and (max-width: 300.98px) {
  section#contact.active-contact::before {
    height: 50px !important;
  }
}
/*# sourceMappingURL=contact-section.component.css.map */