$stop-time:0;

$stop-time-2:1;

$line-delay:1000ms  *$stop-time;

$line-time:1000ms  *$stop-time;

$m-Delay:(1000ms + $line-delay  )*$stop-time;

$m-time:(5000ms     )*$stop-time;

$word-Delay:($m-Delay+$m-time+500ms      )*$stop-time;

$word-time:(500ms       )*$stop-time;



$container-delay: ($word-time + $word-Delay + 1000ms    )*$stop-time-2;

$container-time:(1000ms     )*$stop-time-2;


$white-color:#FEFEFE;
$word-size:2em;
$my-blue:#16ADE3;
$my-light-grey:#ACACAC;
$my-light-grey-2:#707070;
$my-black-2:#1B1C24;
$my-black-3:#3F3F3F;
$my-black-4:#262626;
$my-white:#F9F9F9;

@mixin line-middle {
    position: absolute;
    animation-fill-mode: forwards;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 4px;
    background-color: $white-color;
    border-radius: 2px;
}

@mixin center-word {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

