html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway','Cormorant Garamond', "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 1199.98px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 991.98px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 575.98px) {
  body {
    font-size: 10px;
  }
}

body {
  background-color: #3F3F3F;
  height: 2000px;
}

ul {
  margin: 0;
}

.vertical-seperator {
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 70%;
  top: 15%;
  left: 50%;
}

.blue-underscore {
  color: #16ADE3 !important;
}

.blue-underscore.blue-underscore-hide-show {
  -webkit-animation: blink-caret .5s step-end infinite;
          animation: blink-caret .5s step-end infinite;
}

.word-header {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-description {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.animation-settings-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation-settings-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animated {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0;
}

/*
.mat-form-field-appearance-legacy{

    //.mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty)
    .mat-form-field-label
     {
        // color
        color: red !important;
        // scale or font-size
    }
}*/
/*
.input-text.mat-input-element{
        border-color: red;
    
}
.mat-input-underline{
    border-bottom: 1px solid red!important;
}
*/
.about-form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 5px;
}

.about-form .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-label {
  color: #F9F9F9;
}

.about-form .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
}

.about-form .mat-focused .mat-form-field-label {
  color: #F9F9F9 !important;
}

.about-form .mat-form-field-underline {
  margin-top: 10px;
  background-color: transparent !important;
}

.about-form .mat-form-field-ripple {
  margin-top: 10px;
  background-color: #F9F9F9 !important;
}

.about-form .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .about-form .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f44336 !important;
}

.about-form .mat-input-element {
  caret-color: #F9F9F9;
}

.about-form .mat-form-field-invalid .mat-input-element {
  caret-color: #f44336;
}

@-webkit-keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 4px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 4px;
    background-color: #FEFEFE;
    border-radius: 2px;
    width: 70%;
    left: 15%;
  }
}

@keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 4px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 4px;
    background-color: #FEFEFE;
    border-radius: 2px;
    width: 70%;
    left: 15%;
  }
}

@-webkit-keyframes m-moustafa-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    left: 17%;
    width: 23%;
    top: 31%;
    height: 35%;
  }
}

@keyframes m-moustafa-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    left: 17%;
    width: 23%;
    top: 31%;
    height: 35%;
  }
}

@-webkit-keyframes m-mohsen-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    left: 53%;
    width: 23%;
    top: 31%;
    height: 35%;
  }
}

@keyframes m-mohsen-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    left: 53%;
    width: 23%;
    top: 31%;
    height: 35%;
  }
}

@-webkit-keyframes container-animate-to-top {
  100% {
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90px;
  }
}

@keyframes container-animate-to-top {
  100% {
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90px;
  }
}

@-webkit-keyframes line-animate-to-top {
  100% {
    top: 64%;
    left: 0%;
    width: 100%;
    height: 2px;
    position: unset;
  }
}

@keyframes line-animate-to-top {
  100% {
    top: 64%;
    left: 0%;
    width: 100%;
    height: 2px;
    position: unset;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    color: transparent;
  }
  50% {
    color: #16ADE3;
  }
}

@keyframes blink-caret {
  from, to {
    color: transparent;
  }
  50% {
    color: #16ADE3;
  }
}
/*# sourceMappingURL=styles.css.map */