$stop-time:0;

$stop-time-2:1;

$line-delay:1000ms  *$stop-time;

$line-time:1000ms  *$stop-time;

$m-Delay:(1000ms + $line-delay  )*$stop-time;

$m-time:(5000ms     )*$stop-time;

$word-Delay:($m-Delay+$m-time+500ms      )*$stop-time;

$word-time:(500ms       )*$stop-time;



$container-delay: ($word-time + $word-Delay + 1000ms    )*$stop-time-2;

$container-time:(1000ms     )*$stop-time-2;


$white-color:#FEFEFE;
$word-size:2em;
$my-blue:#16ADE3;
$my-light-grey:#ACACAC;
$my-light-grey-2:#707070;
$my-black-2:#1B1C24;
$my-white:#F9F9F9;
@mixin m-moutafa-middle-final-frame {
    left: 17%;
    width: 23%;
    top: 31%;
    height: 35%;
}
@mixin m-mohsen-middle-final-frame {
    left: 53%;
    width: 23%;
    top: 31%;
    height: 35%;
}

// ==== TOP final frame //
//top-nav

@mixin m-moustafa-top-final-frame {
    left: 0%;
    width: 6%;
    top: 45%;
    height: 39%;
}

@mixin m-mohsen-top-final-frame {
    left: 15%;
    width: 6%;
    top: 45%;
    height: 39%;
}

@mixin oustafa-top-final-frame {
    left: 7%;
    top: 45%;
    font-size: 1em;
}

@mixin ohsen-top-final-frame {
    left: 22%;
    top: 45%;
    font-size: 1em;
}

// TOP final frame ==== //


@mixin word-part {
    position: absolute;
    font-family: Dosis;
    font-size: $word-size;
    font-weight: 800;
    color: $white-color;
    top: 41%;
    
    animation: fadeIn $word-time $word-Delay ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@mixin m-letter-part {
    position: absolute;
    animation-fill-mode: forwards;
    top: 11%;
    left: 25%;
    width: 50%;
    height: 0%;
}

body{
    background-color: #262626;
    height: 2000px;
}//body

ul{
    margin: 0;
}




@mixin center-word {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.vertical-seperator{
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 70%;
    top: 15%;
    left: 50%;
}


.blue-underscore{
    color:$my-blue !important;
}

.word-header{
    @include center-word;
}

.header-description{
    margin-top: 15px;
    margin-bottom: 15px;
    @include center-word;
}

// ==== Skills

// ==== Platforms


// ==== Work



// === Contact Me

// ==== Footer 
.footer-container{
    .footer-content{
        $margin-footer-content:90px;
        margin-top:$margin-footer-content;
        margin-bottom: $margin-footer-content ;
    }
    color: $my-white;
    .footer-logo{
        img{
            display: block;
            width: 100%;
        }
    }

    .divider-horizontal{
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $my-white;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .footer-list{
        li{
        display: block;
            p{
                @include center-word;            
            }
        }
        
    }

    .footer-copyright{
        display: block;
        p{
            @include center-word;
            font-size: 10px;
            margin-bottom: 0;
        }
    }
}





// ======================= Animations ======================== //

@keyframes nav-Container{
    0%{
        width: 0;
        left: 50%;
        height: 4px;
    }
    100%{
        @include line-middle;
        width: 70%;
        left: 15%;
    }
}

// word animation
@mixin start-part {
    top: 50%;
    height: 0;

    left: 25%;
    width: 50%;
}
@mixin middle-part {
    top: 11%;
    height: 70%;

    left: 25%;
    width: 50%;
}


@keyframes m-moustafa-anim{
    0%{
        @include start-part;
    }
    30%{
        @include middle-part;
    }
    80%{
        @include middle-part;
    }
    100%{
        @include m-moutafa-middle-final-frame;
    }
}

@keyframes m-mohsen-anim{
    0%{
        @include start-part;
    }
    30%{
        @include middle-part;
    }
    80%{
        @include middle-part;
    }
    100%{
        @include m-mohsen-middle-final-frame;
    }
}



@keyframes container-animate-to-top{
    100%{
        @include container-top-final-frame;
    }
}

@keyframes line-animate-to-top{
    100%{
        @include line-top-final-frame;
    }
}


// =========================== General animations =========================== //
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}