@import "./_variables.scss";
// Matrial style

html, body { height: 100%; }

body {

     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

     @media screen and (max-width:$break-l) {
         font-size: 16px;
     }
     @media screen and (max-width:$break-m) {
         font-size: 14px;
     }
     @media screen and (max-width:$break-s) {
         font-size: 12px;
     }
    @media screen and (max-width:$break-x) {
        font-size: 10px;
    }

}//body

// Matrial style

@mixin m-moutafa-middle-final-frame {
    left: 17%;
    width: 23%;
    top: 31%;
    height: 35%;
}
@mixin m-mohsen-middle-final-frame {
    left: 53%;
    width: 23%;
    top: 31%;
    height: 35%;
}

// ==== TOP final frame //
// ==== TOP final frame //
@mixin line-top-final-frame {
    top: 64%;
    left: 0%;
    width: 100%;
    height: 2px;
    position: unset;//code-last
}

@mixin container-top-final-frame {
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90px;
}

//top-nav

@mixin m-moustafa-top-final-frame {
    left: 0%;
    width: 6%;
    top: 45%;
    height: 39%;
}

@mixin m-mohsen-top-final-frame {
    left: 15%;
    width: 6%;
    top: 45%;
    height: 39%;
}

@mixin oustafa-top-final-frame {
    left: 7%;
    top: 45%;
    font-size: 1em;
}

@mixin ohsen-top-final-frame {
    left: 22%;
    top: 45%;
    font-size: 1em;
}

// TOP final frame ==== //


@mixin word-part {
    position: absolute;
    font-family: Dosis;
    font-size: $word-size;
    font-weight: 800;
    color: $white-color;
    top: 41%;
    
    animation: fadeIn $word-time $word-Delay ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@mixin m-letter-part {
    position: absolute;
    animation-fill-mode: forwards;
    top: 11%;
    left: 25%;
    width: 50%;
    height: 0%;
}

body{
    background-color: $my-black-3;
    height: 2000px;
}//body

ul{
    margin: 0;
}






.vertical-seperator{
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 70%;
    top: 15%;
    left: 50%;
}


.blue-underscore{
    color:$my-blue !important;
}
.blue-underscore.blue-underscore-hide-show{
    animation: 
    //typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.word-header{
    @include center-word;
}

.header-description{
    margin-top: 15px;
    margin-bottom: 15px;
    @include center-word;
}

// ==== Skills

// ==== Platforms


// ==== Work



// === Contact Me
/*
.mat-form-field-appearance-legacy{

    //.mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty)
    .mat-form-field-label
     {
        // color
        color: red !important;
        // scale or font-size
    }
}*//*
.input-text.mat-input-element{
        border-color: red;
    
}
.mat-input-underline{
    border-bottom: 1px solid red!important;
}
*/

// ====== mat input form colors
.about-form{
    // lable color before focus
    $form-height:10px;
    $invalid-red:#f44336;
    .mat-form-field-appearance-legacy{
        .mat-form-field-wrapper{
            padding-bottom: 5px;
            .mat-form-field-label{
                color: $my-white;
            }
        }//.mat-form-field-wrapper
        
    }//mat-form-field-appearance-legacy
    //invalid
    .mat-form-field.mat-form-field-invalid .mat-form-field-label{
        color: $invalid-red;
    }
    
    // lable color after focus
    .mat-focused .mat-form-field-label {
        color: $my-white !important;
        //font-size: $form-height !important;
        //height: $form-height !important;

    }
    
    
    // under line before focus only
    .mat-form-field-underline{
        margin-top: 10px;
        background-color: transparent !important;
    }
    
    // under line after focus
    .mat-form-field-ripple {
        margin-top: 10px;

        background-color: $my-white !important;
    }
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent{
        background-color: $invalid-red !important;
    }
    
    // the insert line color (caret)
    .mat-input-element {
        // input values style
        caret-color: $my-white;
        //font-size: $form-height !important;
    }
    // caret invalid
    .mat-form-field-invalid{
        .mat-input-element {
            // input values style
            caret-color: $invalid-red;
        }
    }
}



// ==== Footer 




// ======================= Animations ======================== //

@keyframes nav-Container{
    0%{
        width: 0;
        left: 50%;
        height: 4px;
    }
    100%{
        @include line-middle;
        width: 70%;
        left: 15%;
    }
}

// word animation
@mixin start-part {
    top: 50%;
    height: 0;

    left: 25%;
    width: 50%;
}
@mixin middle-part {
    top: 11%;
    height: 70%;

    left: 25%;
    width: 50%;
}


@keyframes m-moustafa-anim{
    0%{
        @include start-part;
    }
    30%{
        @include middle-part;
    }
    80%{
        @include middle-part;
    }
    100%{
        @include m-moutafa-middle-final-frame;
    }
}

@keyframes m-mohsen-anim{
    0%{
        @include start-part;
    }
    30%{
        @include middle-part;
    }
    80%{
        @include middle-part;
    }
    100%{
        @include m-mohsen-middle-final-frame;
    }
}



@keyframes container-animate-to-top{
    100%{
        @include container-top-final-frame;
    }
}

@keyframes line-animate-to-top{
    100%{
        @include line-top-final-frame;
    }
}


// =========================== General animations =========================== //
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { color:transparent }
    50% {  color:$my-blue }
}//blink-caret