

  <div class="nav-container">
    <div class="img-box">
      <img src="./assets/img/m-logo-800x400.png" alt="Moustafa" id="m-moustafa">
      <img src="./assets/img/m-logo-800x400.png" alt="Moustafa" id="m-mohsen">
    </div>

    <div class="word-box" id="word-box">
      <span class="part-word" id="ostafa-word" [ngStyle]="wordHeight"><p>oustafa</p></span>
      <span class="part-word" id="ohsen-word"  [ngStyle]="wordHeight"><p>ohsen</p></span>

    </div>

    <button mat-button class="restart" (click)="restart(1)">restart</button>
  </div>


