.hero-page {
  height: 500px;
}

.nav-container {
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.nav-container .underline-nav-center {
  -webkit-animation: nav-Container 500ms 0ms ease-in-out;
          animation: nav-Container 500ms 0ms ease-in-out;
  position: absolute;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #FEFEFE;
  border-radius: 2px;
  height: 0px;
}

.nav-container .img-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-container .img-box #m-moustafa {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 0;
  width: 50%;
}

.nav-container .img-box #m-mohsen {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 0;
  width: 50%;
}

.nav-container .word-box {
  position: relative;
  height: 17.5%;
  top: 50%;
  -webkit-transform: translateY(-96%);
          transform: translateY(-96%);
}

.nav-container .word-box #ostafa-word {
  position: absolute;
  font-family: Dosis;
  font-weight: 100;
  color: #FEFEFE;
  opacity: 0;
  left: 35%;
  top: 0;
}

.nav-container .word-box #ohsen-word {
  position: absolute;
  font-family: Dosis;
  font-weight: 100;
  color: #FEFEFE;
  opacity: 0;
  left: 85%;
  top: 0;
}

.part-word {
  font-size: 1em;
  line-height: 1em;
}

@-webkit-keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 3px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #FEFEFE;
    border-radius: 2px;
  }
}

@keyframes nav-Container {
  0% {
    width: 0;
    left: 50%;
    height: 3px;
  }
  100% {
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #FEFEFE;
    border-radius: 2px;
  }
}

.m-moustafa-animation {
  -webkit-animation: m-moustafa-anim 2000ms 1000ms ease-in-out;
          animation: m-moustafa-anim 2000ms 1000ms ease-in-out;
}

.m-mohsen-animation {
  -webkit-animation: m-mohsen-anim 2000ms 1000ms ease-in-out;
          animation: m-mohsen-anim 2000ms 1000ms ease-in-out;
}

@-webkit-keyframes m-moustafa-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    width: 23%;
    top: 28%;
    height: auto;
    left: 5%;
  }
}

@keyframes m-moustafa-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    width: 23%;
    top: 28%;
    height: auto;
    left: 5%;
  }
}

@-webkit-keyframes m-mohsen-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    width: 23%;
    top: 28%;
    height: auto;
    left: 55%;
  }
}

@keyframes m-mohsen-anim {
  0% {
    top: 50%;
    height: 0;
    left: 25%;
    width: 50%;
  }
  30% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  80% {
    top: 11%;
    height: 70%;
    left: 25%;
    width: 50%;
  }
  100% {
    width: 23%;
    top: 28%;
    height: auto;
    left: 55%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide-elements {
  display: none !important;
}

.show-elements {
  display: block;
  -webkit-transition: all ease-in-out 1000ms;
  transition: all ease-in-out 1000ms;
}
/*# sourceMappingURL=mmlogo.component.css.map */